<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css"
      integrity="sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row mt-5 row-gap-4">
        <% for(let product of products) { %>
        <div
          class="col-lg-3 col-md-4 col-sm-6 column-gap-4 d-flex justify-content-center"
        >
          <% if(product) { %>
          <div
            class="card mb-2 shadow-lg"
            id="<%= product._id %>"
            style="width: 18rem; height: 20rem"
          >
            <img
              src="<%= product.thumbnail %>"
              class="card-img-top w-100 h-50"
              alt="iPhone9"
            />
            <div class="card-body flex-shrink-1">
              <h5 class="card-title"><%= product.title %></h5>
              <p class="card-text">
                <%= product.description.substring(0,
                Math.min(50,product.description.length)) %>
              </p>
              <div class="d-flex justify-content-between mb-2">
                <span>&#8377; <%= product.price %></span>
                <span onclick="logProduct('<%= product._id %>')"
                  ><i class="bi bi-arrow-up-right-square-fill"></i
                ></span>
                <small class="text-right">&#9734; <%= product.rating %></small>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
    <script>
      async function logProduct(productId) {
        let res = await fetch(`/products/${productId}`);
        res = await res.json();
        console.log("res", res);
      }
    </script>
  </body>
</html>
